<div class="container">
    <div class="header">
        <mat-icon matTooltip="Voltar" [routerLink]="['/presentes',this.eventoId]">arrow_back_ios_new</mat-icon>
        <h1>Editar Presente</h1>
    </div>
    <p class="txt-secundario">Edite os detalhes do presente para o seu evento.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome do Presente</mat-label>
            <input matInput formControlName="nome" placeholder="Digite o nome do presente" />
            <mat-error *ngIf="displayMessage['nome']">
                <mat-icon>error</mat-icon> {{ displayMessage['nome'] }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="descricao" placeholder="Descreva o presente"></textarea>
            <mat-error *ngIf="displayMessage['descricao']">
                <mat-icon>error</mat-icon> {{ displayMessage['descricao'] }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria" placeholder="Selecione uma categoria">
                <mat-option *ngFor="let categoria of categorias()" [value]="categoria.id">{{ categoria.nome }}</mat-option>               
            </mat-select>
            <mat-error *ngIf="displayMessage['categoria']">
                <mat-icon>error</mat-icon> {{ displayMessage['categoria'] }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" placeholder="R$ 0,00" type="text" mask="separator.2"
                thousandSeparator="." decimalMarker="," prefix="R$ " />
            <mat-error *ngIf="displayMessage['valor']">
                <mat-icon>error</mat-icon> {{ displayMessage['valor'] }}
            </mat-error>
        </mat-form-field>

        <div class="toggle-container">
            <mat-slide-toggle formControlName="incluirLink" color="primary">
                Incluir link de compra
            </mat-slide-toggle>
        </div>

        @if (form.get('incluirLink')?.value) {
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Link de Compra</mat-label>
                <input matInput formControlName="linkCompra" placeholder="https://www.exemplo.com/produto" />
                <mat-icon matPrefix>link</mat-icon>
                <mat-error *ngIf="displayMessage['linkCompra']">
                    <mat-icon>error</mat-icon> {{ displayMessage['linkCompra'] }}
                </mat-error>
            </mat-form-field>
        }

        <app-drop-zone-image [imagens]="imagensVisualizacao" (imagensChange)="onImagensChange($event)"></app-drop-zone-image>

        <div class="actions">
            <button mat-stroked-button class="secundary" type="button" (click)="cancelar()">
                Cancelar
            </button>
            <button mat-raised-button class="primary" type="submit" [disabled]="form.invalid">
                Salvar
            </button>
        </div>
    </form>
</div>