<div class="container">
    <div class="header">
        <mat-icon matTooltip="Voltar" >arrow_back_ios_new</mat-icon>
        <h1>Template de Convite</h1>
        <div class="spacer"></div>
        <button mat-icon-button matTooltip="Configurar fundo" (click)="openBackgroundModal()">
            <mat-icon>image</mat-icon>
        </button>
    </div>
    <p>Personalize o template do convite para o seu evento.</p>

    <div class="template" (click)="closeActions()">
        <div class="template-background"
             [style.background-image]="backgroundConfig.backgroundImage ? 'url(' + backgroundConfig.backgroundImage + ')' : 'none'"
             [style.background-size]="'cover'"
             [style.background-position]="backgroundConfig.backgroundPosition"
             [style.background-repeat]="'no-repeat'"
             [style.opacity]="backgroundConfig.opacity / 100">
        </div>
        <div *ngFor="let item of itens; let i = index" class="template-item">
            <div class="area-editavel" [class.active]="isItemActive(item.id)" (click)="toggleActions(item.id, $event)">
                <div class="action-buttons" [class.visible]="isItemActive(item.id)" (click)="$event.stopPropagation()">
                    <button type="button" mat-icon-button matTooltip="Adicionar item abaixo" class="action-btn" (click)="adicionarItem(i); closeActions()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button type="button" mat-icon-button matTooltip="Editar" class="action-btn" (click)="openModalEditar(item); closeActions()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button type="button" mat-icon-button matTooltip="Excluir" class="action-btn" (click)="excluirItem(item.id); closeActions()">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button type="button" mat-icon-button matTooltip="Mover para cima" class="action-btn" [disabled]="i === 0" (click)="moverItem(i, 'up'); closeActions()">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button type="button" mat-icon-button matTooltip="Mover para baixo" class="action-btn" [disabled]="i === itens.length - 1" (click)="moverItem(i, 'down'); closeActions()">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
                <div [innerHTML]="item.texto" [style]="item.styles"></div>
            </div>
        </div>
    </div>
</div>
