<div class="home-evento-container">
    <div class="evento-banner">
        <img [src]="getTipoEventoInfo(evento?.tipoEvento).imagem" alt="Banner do Evento" class="evento-banner-img" />
        <div class="evento-banner-info">
            <h1 class="evento-titulo">{{ evento?.nome }}</h1>
            <div class="evento-detalhes">
                <span class="evento-data" [class.periodo-mobile]="evento?.tipoData === 'periodo'">
                    <ng-container *ngIf="evento?.tipoData === 'periodo'; else unicaData">
                        <span class="data-inicio"><mat-icon>calendar_today</mat-icon>{{
                            DateUtils.formatarDataExtenso(evento?.dataInicio) }} -</span>
                        <span class="data-fim"><mat-icon>calendar_today</mat-icon>{{
                            DateUtils.formatarDataExtenso(evento?.dataFim) }}</span>
                    </ng-container>
                    <ng-template #unicaData>
                        <span class="data-inicio"><mat-icon>calendar_today</mat-icon>{{
                            DateUtils.formatarDataExtenso(evento?.dataInicio) }}</span>
                        <span class="evento-hora">
                            <mat-icon>schedule</mat-icon>{{ DateUtils.formatarHora(evento?.dataInicio) }}
                        </span>
                    </ng-template>
                </span>

            </div>
            <div class="evento-endereco">
                <span class="evento-local"><mat-icon>location_on</mat-icon>{{evento?.rua}}, {{evento?.numero}} -
                    {{evento?.pontoReferencia}}</span>
            </div>
        </div>
    </div>

    <div class="evento-confirmado-alert" *ngIf="isConvidado">
        <mat-icon color="primary">check_circle</mat-icon>
        <div>
            <div class="alert-title">Sua presença está confirmada.</div>
            <div class="alert-desc">Mal podemos esperar para celebrar com você!</div>
        </div>
    </div>

    <div class="home-evento-cards">
        <a class="evento-card-link" *ngFor="let card of cardsVisiveis()" [routerLink]="card.route(evento?.id || '')">
            <mat-icon class="evento-card-icon">{{card.icon}}</mat-icon>
            <div class="evento-card-title">{{card.title}}</div>
            <div class="evento-card-desc">{{card.desc}}</div>
        </a>
    </div>
</div>