.layout-container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px !important;
}

.content {
    min-height: calc(100vh - 64px);
}